[alias]
	c = commit -m
	aa = add --all
	s = status 
	slog = log -n 10 --date-order --abbrev-commit --graph --pretty=format:"%h|%an|%ar|%s"
	glog = log --graph --pretty=oneline --abbrev-commit --decorate --branches --all
[user]
	email = oliver.guhr@gmx.de
	name = Oliver Guhr
